/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Seleziona tutto il documento*/
* {
	border: 1px solid lightgrey;
}


/*Seleziona elementi all'interno di un'altro elemento*/
li a{
	color: red;
}

h4 + ul {
	border: 10px solid black;
}

a[href="http://www.google.com"] {
	background: black;
}

ul:nth-of-type(2){
	background: yellow;
}